body {
    background: linear-gradient(to right, #667eea, #764ba2);
    font-family: Arial;
    color: white;
}

.container {
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

input {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.quote-box {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}